<section class="child-parent-container">
  <div>
    <h2>Child and Parent have Default Change Detection Strategy</h2>
    <p>In this strategy, Angular's change detection runs automatically for every component whenever any of these activities happen, regardless of whether the actual data has changed or not. This process ensures that the
      view always reflects the current state of the data model.</p>
    <p>For small- to medium-sized applications, this performance impact is generally negligible. However, in larger applications with deeply nested components,
      repeated checks can slow down the UI and make interactions feel sluggish.</p>
    <app-default-parent />
  </div>
  <div>
    <h2>Child and Parent have OnPush Change Detection Strategy</h2>
    <p>The OnPush strategy can significantly enhance performance in large applications, but developers must carefully manage how and when
      components update to ensure the user interface reflects the latest state.</p>
    <app-on-push-parent />
  </div>

  <section>
    <h1>
      This example demonstrates how Angular’s hierarchical
      dependency injection system works by allowing different instances of services to
      be provided at various levels of the component hierarchy. Each component can either share
      a service instance
      or have its own, depending on where the service is provided.
    </h1>

    <div class="component-wrapper">
      <h3>Root Component Context</h3>
      <p>The root component (AppComponent) will provide the service at the
        root level (default behavior when provided in the providers array).</p>
      <p>{{ serviceText }}</p>
      <button (click)="show()">Show from Root</button>
    </div>
    <div class="component-wrapper">
      <h3>Parent Component Context</h3>
      The parent component (ParentComponent) provides its own instance of IndependentService.
      This means the service instance will be different from the one in the AppComponent.
      <app-parent />
    </div>

    <div class="component-wrapper">
      <h3>Child Component Context</h3>
      The child component does not provide LoggerService,
      meaning it will inherit the instance from the Root component(AppComponent).
      <app-child />
    </div>

  </section>
</section>
